
/* non-section specific styling */
:root {
    --primary-color: #f1f2da;
    --secondary-color: #00303b;
    --tertiary-color: #ffce96;
    --quarternary-color: #ff7777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

/* section {
    padding: 60px;
} */

.flex-row {
    display: flex;
}
/* nav */
header { 
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../photo/forest.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* hero */

    /* commented out video hero */
    /* #myVideo {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(./asset/photo/seal.jpg) no-repeat;
        background-size: cover;
    } */

    .hero {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../photo/forest.jpg");
        background-size: cover;
        background-position: center;
    }

/* about me */

/* .intro {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.intro {
    background-color: var(--secondary-color);
    background-size: cover;
    background-position: bottom;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.intro img {
    width: 100%;
}

.about-card  {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    color: var(--primary-color);

}

.about-me-photo  {
    border: 1px solid var(--tertiary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
    background-color: var(--tertiary-color);
}

.about-card h4 {
    color: var(--quarternary-color);
}

.sully {
    background-color: var(--tertiary-color);
    padding: 20px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--quarternary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
}
/* spotlight */

.projects {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    height: 200px;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: flex-start;
    /* flex-direction: column; */
    overflow: auto;
}

.project h2 {
    color: var(--quarternary-color);
}

.primary-proj {
    height: 300px;
    display: flex;
}

.primary-proj img {
    background-color: var(--tertiary-color);
    padding: 10px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--quarternary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

#project-intro{
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    flex-direction: column;
    margin: 0 auto 35px auto;
    width: 50%;
}


.skills {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: var(--quarternary-color);
    color: var(--secondary-color);
    overflow: auto;
}

.skills h1 {
    margin: 10px;
}

.skills img {
    background-color: var(--tertiary-color);
    padding: 10px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
/* contact me */

/* .contact  {
    flex: 1;
    margin: 15px;
} */

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.secondary-border {
    border-color: var(--quarternary-color);
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding:  7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .75);
}

.contact-form input:focus {
    background-color: rgba(255, 255, 255, 1);
}

.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--quarternary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
}

.contact div{
    background-color: var(--secondary-color);
    margin: 1px;
    padding: 25px;
    color: var(--primary-color);
    border-radius: 15px;
}
/* optimization */

    /* commented out video hero */
    /* @media screen and (max-device-width: 768px) {
        .hero {
        background: url(./asset/photo/seal.jpg) no-repeat;
        background-size: cover;
        }
        #myVideo {
        display: none;
        }
    } */